@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: CursedTimerUlil;
}

body {
    margin: 0;
    background-image: url("basketball.jpg");
}

.container {
    display: flex;
    justify-content: space-around;
    border: 3px solid white;
    margin: 50px auto 0px auto;
    width: 575px;
    padding: 0px 0px 50px
    
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #EEEEEE;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px auto 20px auto;
    text-shadow: 0px 0px 3px black;
}

.score {
    font-family: CursedTimerUlil;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    width: 170px;
    height: 120px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
    border: 2px solid white
}

.minus-btn, .add-btn {
    font-family: CursedTimerUlil;
    background: none;
    width: 30px;
    height: 26px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
    border: 1px solid white;
    margin: 5px;
    text-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 3px black;
}

.reset-btn{
    height: 50px;
    margin: auto 10px;
    font-family: CursedTimerUlil;
    background: none;
    color: #F94F6D;
    border: 1px solid white
    
}